# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Environment Variables
.env

# Garmin Session (CRITICAL: Contains tokens)
session.json/
session.json
scheduled_workouts_index.json

# IDEs
.vscode/
.idea/
.DS_Store
