version: '3.8'
services:
  app:
    build: .
    volumes:
      - .:/app
    restart: unless-stopped
    container_name: garmin-mcp
    command: python3 -u /app/server.py
    stdin_open: true
    tty: false
